.visible {
  display: inline;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}
.title-section {
  margin-bottom: 0.37em;

  color: #d65a31;
  font-size: 3em;
}
.width-middle {
  width: calc(50% - 0.25em);
}
.sub-title {
  margin-bottom: 0.125em;
}
.img-field img {
  height: 100%;
}
