.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}

.title-section {
  margin-bottom: 20px;

  color: #d65a31;
  font-size: 48px;
}
