@import './helpers.css';
@import './reset.css';

body {
  background-color: #222831;
  background-image: url('http://reejo.me/lank/assets/images/slide1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
/* Navigatio Bar */
nav {
  height: 60px;

  background-color: #222831;

  position: sticky;
  top: 0px;
  display: flex;
}
nav .nav-menu h2 {
  padding: 15.5px 10px;
  flex-grow: 1;
}
nav .nav-menu {
  width: 100%;
}
nav .nav-menu ul {
  flex-grow: 2;
  display: flex;
  justify-content: flex-end;
}
nav .nav-menu ul li {
  padding: 18.5px 10px;
}
