@import './helpers.css';
@import './reset.css';

body {
  background-color: #222831;
  background-image: url('http://reejo.me/lank/assets/images/slide1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
/* Navigatio Bar */
nav {
  height: 60px;

  background-color: #222831;

  position: sticky;
  top: 0px;
  display: flex;
}
nav .img-container {
  position: relative;
}
nav .img-container .brand {
  padding: 15.5px 10px;
  flex-grow: 1;
}
nav .perfil-img {
  position: absolute;
  top: 60px;
  width: 234.516px;
  border: 10px solid #222831;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
nav .perfil-img img {
  /* border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit; */
  background-color: #222831;
}
nav .nav-menu {
  flex-grow: 2;
}
nav .nav-menu ul {
  display: flex;
  justify-content: space-around;
}
nav .nav-menu ul li {
  padding: 18.5px 0;
}
